<div class="register-container">

    <header>
        <div class="logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/assets/Logo.svg"/>
            </a>
        </div>
        <div class="field-login">
            <button>Ingresar</button>
        </div>
    </header>
    <div class="register-body">
        <div class="register-cont">
            <h2>Registro</h2>

            <div class="field">
                <label>Nombres</label>
                <input name="Nombres" placeholder="Ingrese sus nombres" type="text"/>
            </div>

            <div class="field">
                <label>Apellidos</label>
                <input name="Apellidos" placeholder="Ingrese sus apellidos" type="text"/>
            </div>

            <div class="field">
                <label>Carrera</label>
                <input name="Carrera" placeholder="Ingrese su carrera" type="text"/>
            </div>

            <div class="field">
                <label>Correo electrónico</label>
                <input name="Email" placeholder="Ingrese sus email" type="text"/>
            </div>

            <div class="field">
                <label>Universidad</label>
                    <select>
                        <option value="Universidad Peruana de Ciencias Aplicadas">Universidad Peruana de Ciencias Aplicadas</option>
                    </select>            
            </div>


            <div class="field">
                <label>Usuario</label>
                <input name="Username" placeholder="Ingrese sus email" type="text"/>
            </div>

            <div class="field">
                <label>Contraseña</label>
                <input name="Password" placeholder="Ingrese sus password" type="password"/>
            </div>


            <div class="field">
                <button>Registrarme</button>
            </div>


        </div>


    </div>



</div>