@model MiTutor.Models.Tutor
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card-tutores">
    <h3 class="card-tutor-tutoria">@Model.Person.Name</h3>
</div>