@model MiTutor.Models.TutoringSession
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="card-tutoria">
    <h3 class="title-tutoria">@Model.Subject.Name</h3>
    <p class="tutor-tutoria">@Model.Tutor.Person.Name</p>
    <!-- <a asp-controller=""></a> -->
</div>