@model MiTutor.ViewModels.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container-home-master">
    <header>
        <div class="logo">
            <img src="~/assets/Logo.svg" />
        </div>

        <div class="searchbar">
            <form asp-controller="Home" asp-action="Search" method="post">
                <input asp-for="Text" placeholder="¿Buscas algún curso?" />
            </form>
        </div>

        <div class="avatar-profile">
            <h2 class="avatar-title">Jair Huaman</h2>
            <p class="avatar-rol">Estudiante</p>
        </div>
    </header>

    <div class="container-home">
        <aside class="side-bar tutor-membership">
            <a>Quiero ser tutor</a>
        </aside>

        <div class="tutorias-board-container">

            @if ((bool)ViewData["IsSearching"])
            {
                @if(Model.Tutorings.Count > 0)
                {
                    <div class="results-tutorias">
                        @foreach (var item in Model.Tutorings)
                        {
                            <partial name="_HomeTutoringPartial" model="item"/>
                        }
                    </div>
                }
                else
                {
                    <h3>No se encontraron tutorías</h3>
                }


                @if(Model.Tutors.Count > 0)
                {
                    <div class="results-tutorias">
                        @foreach (var item in Model.Tutors)
                        {
                            <partial name="_HomeTutorPartial" model="item"/>
                        }
                    </div>
                }
                else
                {
                    <h3>No se encontraron tutores con dicho curso</h3>
                }
            }
            else
            {
                <h2>Tutorías recomendadas</h2>
                <div class="results-tutorias">
                    @if (Model.Tutorings.Count > 0)
                    {
                        @foreach (var item in Model.Tutorings)
                        {
                            <partial name="_HomeTutoringPartial" model="item" />
                        }
                    }
                    else
                    {
                        <h3>No hay Tutorías disponibles</h3>
                    }
                </div>

                <h2>Tutores recomendados</h2>
                <div class="results-tutores">

                    @if (Model.Tutors.Count > 0)
                    {

                        @foreach (var item in Model.Tutors)
                        {
                            <partial name="_HomeTutorPartial" model="item" />
                        }
                    }
                    else
                    {
                        <h3>No hay tutores disponibles</h3>
                    }
                </div>
            }

        </div>
    </div>
</div>