
<div class="landing-container">
    <div class="home-selection section">
        <div class="card-content">
            <h2>¿Buscas alguna tutoría?</h2>
            <p>Encuentra tutorías creadas por la comunidad universitaria</p>

            <a asp-controller="Account" asp-action="Login">Buscar tutorías</a>

        </div>
    </div>
    <div class="porqueNosotros section">
        <div class="title">
            <h2>¿Porqué MiTutor?</h2>
            <div class="line"></div>
        </div>

        <div class="content">
            <h2>Nos importa los estudios</h2>

            <div class="estudiantes-info">
                <h3>Estudiantes</h3>
                <p>
                    Brindamos a los estudiantes
                    universitarios un espacio donde puedan
                    acudir a tutorías para solventar sus
                    dudas ante alguna asignatura.
                </p>
            </div>

            <div class="tutores-info">
                <h3>Tutores</h3>
                <p>
                    Disponemos un espacio para poder
                    promocionar tus tutorías.
                </p>
            </div>
        </div>
    </div>
    <div class="membresia section">
        <div class="content">
            <h2 class="title">Plan de membresía</h2>

            <h2 class="Slogan">Conocimiento que valen oro</h2>
            <p class="info">Ayuda a otros estudiantes y serás beneficiado por el conocimiento brindado. </p>


            <div class="beneficios">
                <h2>Beneficios</h2>
                <div class="list-beneficios">
                    <div class="item">
                        <div class="circle"></div>
                        <p>Publicación de tutorías</p>
                    </div>
                    <div class="item">
                        <div class="circle"></div>
                        <p>Reconocimiento en la comunidad universitaria</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="miembros section">
        <div class="content">
            <h2 class="title">Miembros</h2>
            <h2 class="Slogan">Fundadores</h2>
            <p>
                Somos una startup llamada <span style="font-weight: bold">DevFriends </span> , actualmente buscamos
                problemas que frecuentan los estudiantes universitarios
            </p>

            <div class="list-members">
                <div class="willy-container item">
                    <img src="~/assets/WillyAvatar.png" alt="">
                    <div class="info">
                        <h2>Willington Ortiz Maurtua</h2>
                        <p>Ingenieria de Software</p>
                    </div>
                </div>
                <div class="jair-container item">
                    <img src="~/assets/JairAvatar.png" alt="">
                    <div class="info">
                        <h2>Jair Huaman Bellido</h2>
                        <p>Ingenieria de Software</p>
                    </div>
                </div>
                <div class="jose-container item">
                    <img src="~/assets/JoseAvatar.png" alt="">
                    <div class="info">
                        <h2>José Huaman Aparcana</h2>
                        <p>Ingenieria de Software</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>