<div class="container-profile-master">
    <header>
        <div class="logo">
            <img src="~/assets/Logo.svg" />

        </div>
        <div class="searchbar">
            <form>
                <input type="text" placeholder="¿Buscas algún curso?" name="curso-find" />
            </form>
        </div>
        <div class="avatar-profile">
            <h2 class="avatar-title">Jair Huaman</h2>
            <!-- cuando el estudiante es estudiante -->
            <!-- <p class="avatar-rol">Estudiante</p> -->

            <!-- cuando el estudiante es tutor -->
            <p class="avatar-rol">Tutor</p>

        </div>

    </header>
    <div class="container-profile">
        <!-- Vista del tutor Profile -->
        <div class="tutor-profile">

            <div class="info-tutor">
                <div class="avatar">
                    <h2>Jair Orlando Huaman Bellido</h2>
                    <p>Ingenieria de Software</p>
                </div>

                <div class="details">
                    <div class="score">
                        <h2>Puntuacion</h2>
                        <p>?</p>
                    </div>
                    <div class="horariosDisponibilidad">
                        <h2>Horario de disponibilidad</h2>
                        <div class="card-disponibilidad">
                            <p class="dia">Jueves</p>
                            <p class="horario">11:00am - 1:00pm</p>                           
                        </div>
                    </div>
                    <div class="nuevo-horario">
                        <a>Nuevo horario</a>
                    </div>

                    <div class="editar-perfil">
                        <a>Editar Perfil</a>
                    </div>
                </div>
            </div>
            <div class="gadgets-tutor">
                <div class="card-tutorias">

                    
                    <h2>Mis tutorías</h2>
                    
                    <!-- cuando el tutor no ha ingresado ninguna tutoria -->    
                    <!-- <div class="content">
                        <p>No existe ninguna tutoria</p>
                    </div> -->

                    <div class="list-tutorias">
                        <div class="card-tutoria">
                            <h2>Calculo 2</h2>
                            <p>1/3 Integrantes</p>
                        </div>
                               <div class="card-tutoria">
                            <h2>Calculo 2</h2>
                            <p>1/3 Integrantes</p>
                        </div>
                               <div class="card-tutoria">
                            <h2>Calculo 2</h2>
                            <p>1/3 Integrantes</p>
                        </div>
                    </div>

                    <div class="nueva-tutoria">
                        <a>Nueva Tutoría</a>
                    </div>


                </div>

                <div class="card-cursos">
                    <h2>Cursos</h2>

                    <!-- cuando el tutor no tiene ningun curso -->
                    <!-- <div class="content">
                        <p>No tienes ningún curso</p>
                    </div> -->

                    <!-- cuando el tutor tiene al menos un curso -->
                    <div class="list-cursos">
                        <div class="card-curso">
                            <h2>IHC</h2>
                        </div>
                    </div>
                    <div class="nuevo-curso">
                        <a>Agregar Cursos</a>
                    </div>
                </div>
            </div>

            <div class="opiniones">
                <h2>Reseñas</h2>

                <!-- cuando el tutor no tiene ninguna reseña -->
                <!-- <div class="content">
                    <p>No cuentas con ninguna reseña</p>
                </div> -->

                <!-- cuando el tutor tiene almenos una reseña -->
                <div class="list-comentarios">
                    <div class="card-comentario">
                        <h2>Julio Gonzales</h2>
                        <p>He aprendido muchas cosas de este profesor, lo recomiendo! </p>
                    </div>

                    <div class="card-comentario">
                        <h2>Daniel Iglesias</h2>
                        <p>Ha resuelto todas mi dudas, esta vez me siento preparado para mis examenes </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>