<div class="container-suscripcion-master">
    <header>
        <div class="logo">
            <img src="~/assets/Logo.svg" />

        </div>
        <div class="searchbar">
            <form>
                <input type="text" placeholder="¿Buscas algún curso?" name="curso-find" />
            </form>
        </div>
        <div class="avatar-profile">
            <h2 class="avatar-title">Jair Huaman</h2>
            <p class="avatar-rol">Estudiante</p>

        </div>

    </header>

    <div class="container-suscripcion">

        <h2>Bienvenido a la membresía de tutor</h2>
        <p class="desc">Necesitamos que completes algunos datos para el pago de tu suscripción como tutor</p>


        <form action="" class="form-suscripcion">

            <div class="field">
                <label>Tarjeta de crédito</label>
                <input type="text" placeholder="aaaa - bbbb - cccc - dddd">
            </div>
            <div class="field">
                <label>Fecha de vencimineot</label>
                <input type="text" placeholder="mm/yy">
            </div>
            <div class="field">
                <label>CCV</label>
                <input type="text" placeholder="123">
            </div>
            <div class="field">
                <input type="submit" value="Listo">
            </div>

        </form>


    </div>


</div>