
<div class="container-tutoriaDetail-master">

    <header>
        <div class="logo">
            <img src="~/assets/Logo.svg" />

        </div>
        <div class="searchbar">
            <form>
                <input type="text" placeholder="¿Buscas algún curso?" name="curso-find"/>
            </form>
        </div>
        <div class="avatar-profile">
            <h2 class="avatar-title">Jair Huaman</h2>
            <p class="avatar-rol">Estudiante</p>

        </div>
        
    </header>
    <div class="container-tutoria-details">
        <div class="details">
            <h2>Calculo 2 </h2>

            <div>
                <div class="detail">
                    <p class="label-detail">Dia de la tutoria</p>
                    <p class="text-detail">Jueves</p>
                </div>
                <div class="detail">
                    <p class="label-detail">Hora de inicio</p>
                    <p class="text-detail">9:00 am</p>
                </div>
                <div class="detail">
                    <p class="label-detail">Hora de fin</p>
                    <p class="text-detail">11:00 am</p>
                </div>
                <div class="detail">
                    <p class="label-detail">Ubicacion</p>
                    <p class="text-detail">Cubículo 24</p>
                </div>
                <!-- <div class="submit-reserva">
                    <form action="">
                        <input type="submit" value="Reservar Tutoría"/>
                    </form> 
                </div> -->
                
                <div class="events-afterReserved">                    

                    <button class="btn-cancelTutoria">Cancelar asistencia</button>
                </div>

            </div>

        </div>
        <div class="info">
            <div class="card-tutor">
                <img src="" alt="">
                <p class="tutor-name">Juan Carlos Sotomayor Reyes</p>

                <div class="score-info-tutor">
                    <p class="score">4.6</p>
                    <p>Puntuacion</p>
                </div>
                <div class="navigate-profile">
                    <a>Ver perfil</a>
                </div>
            </div>

            <div class="card-infotutoria">
                <div class="title">Participantes</div>
                <div class="score">
                    <p>2/3</p>
                    <p>Asistirán</p>
                </div>
            </div>
        </div>
        <div class="similar">
            <h2>Relacionados</h2>
            <div class="card-tutoria">
                <h3 class="title-tutoria">Calculo 2</h3>
                <p class="tutor-tutoria">Maria Camila Chavez</p>

            </div>
            <div class="card-tutoria">
                <h3 class="title-tutoria">Calculo 2</h3>
                <p class="tutor-tutoria">Maria Camila Chavez</p>

            </div>
            <div class="card-tutoria">
                <h3 class="title-tutoria">Calculo 2</h3>
                <p class="tutor-tutoria">Maria Camila Chavez</p>

            </div>
            <div class="card-tutoria">
                <h3 class="title-tutoria">Calculo 2</h3>
                <p class="tutor-tutoria">Maria Camila Chavez</p>

            </div>
            <div class="card-tutoria">
                <h3 class="title-tutoria">Calculo 2</h3>
                <p class="tutor-tutoria">Maria Camila Chavez</p>

            </div>


        </div>
    </div>

</div>