.container-home-master{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: var(--main-background);

}
header{
    padding: 1.5em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .searchbar{
    width: 450px;
    position: relative;
       
}
header .searchbar input{
    padding: 12px 18px;
    font-size: 18px;
    color: var(--primary-text);
    opacity: .87;
    border: 1px solid #afafaf;
    border-radius: 6px;
    width: 100%;
    transition: all .2s ease-in-out;    
}
header .searchbar input:focus{
    border: 1px solid var(--primary-color);
}

header .avatar-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-home{
    padding: 2em;
    display: flex;

}
.container-home .tutor-membership{
    margin-right: 3em;
    width: 320px;
    height: 80vh;
    background: #fff;
    box-shadow: 0 6px 7px 4px rgba(0,0,0,.06);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-home .tutor-membership a{
    background: var(--primary-color);
    padding: .75em 2em;
    color: var(--white);
    font-size: 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    opacity: .87;
    transition: all .2s ease-out;
}
.container-home .tutor-membership a:hover{
    opacity: 1;
}
.container-home .results-tutorias,.container-home .results-tutores{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0 2em 0;

}


.container-home .results-tutorias .card-tutoria,.container-home .results-tutores .card-tutores{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 6px;
    background: var(--white);
    padding: 12px 1em;
    margin-right: 2em;
    transition: all .2s ease-out;
}
.container-home .results-tutorias .card-tutoria:hover, .container-home .results-tutores .card-tutores:hover{
    box-shadow: 0 6px 7px 4px rgba(0,0,0,.06);
    cursor: pointer;
}


/* RULES AS TUTOR */

.container-home .tutor-liteDashboard{
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-right: 3em;


}

.container-home .tutor-liteDashboard .tutor-tutorias-home .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-home .tutor-liteDashboard .tutor-tutorias-home .header button{
    width: 30px;
    height: 30px;
    border:none;
    border-radius: 30px;
    background: var(--primary-color);
    color: var(--white);
    opacity: .86;
    font-size: 24px;
    cursor: pointer;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-home .tutor-liteDashboard .tutor-tutorias-home .header button:hover{
    opacity: 1;
}
.container-home .tutor-liteDashboard .card-tutorias{
    background: var(--white);
    padding: 1em 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    height: 480px;
    margin-bottom: 3em;
    overflow: auto;
    position: relative;
}

.container-home .tutor-liteDashboard .card-tutorias .no-tutorias *,
.container-home .tutor-liteDashboard .card-disponibilidad  *{
    text-align: center;
}

.container-home .tutor-liteDashboard .card-tutorias .no-tutorias{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-home .tutor-liteDashboard .card-tutorias .no-tutorias h2{
    color: var(--primary-color);
    font-weight: 700;
}
.container-home .tutor-liteDashboard .card-tutorias .no-tutorias p,
.container-home .tutor-liteDashboard .card-disponibilidad  p{
    color: var(--primary-text);
    opacity: .87;
    font-size: 18px;
    margin-bottom: 2.5em;
    width: 300px;

}

.container-home .tutor-liteDashboard .card-tutorias .no-tutorias a{
    padding: 12px 24px;
    color: var(--white);
    background: linear-gradient(45deg, var(--gradient-left), var(--gradient-right));
    font-size: 22px;
    font-weight: 600;
    border-radius: 6px;
}

.container-home .tutor-liteDashboard .card-disponibilidad{
    padding: 1em;
    border-radius: 6px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container-home .tutor-liteDashboard .card-disponibilidad h2{
    color: var(--green);
    font-size: 24px;
    font-weight: bold;

}

.container-home .tutor-liteDashboard .card-disponibilidad  a
{
    background: var(--green);
    color: var(--white);
    margin: 0 auto;
    padding: 12px 18px;
    font-weight: 600;
    border-radius: 6px;
}

.container-home .tutor-liteDashboard .card-disponibilidad button
{
    background: var(--green);
    color: var(--white);
    margin: 0 auto;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 6px;
    border:none;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    transition: all .2s ease-in-out;
    opacity: .87;
}

.container-home .tutor-liteDashboard .card-disponibilidad button:hover{
    
    opacity: 1;
}

.container-home .tutor-liteDashboard .card-tutorias .tutor-tutorias-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.container-home .tutor-liteDashboard .card-tutorias .tutor-tutorias-home > h2{
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 1em;

}

.container-home .tutor-liteDashboard .card-tutorias .tutor-tutorias-home .card-tutoria{
    margin: .5em 0;
    background: var(--white-noise);
    padding: .75em 1.5em;
    border-radius: 6px;
    color: var(--primary-text);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.container-home .tutor-liteDashboard .card-tutorias .tutor-tutorias-home .card-tutoria h2{
    font-size: 18px;
    color: inherit;
    margin-bottom: .5em;
}
.container-home .tutor-liteDashboard .card-tutorias .tutor-tutorias-home .card-tutoria p{
    font-size: 18px;
    color: inherit;
    opacity: .67;
}  

.container-home .tutor-liteDashboard .card-tutorias .tutor-tutorias-home .card-tutoria:hover{
    background: var(--primary-color);
    color: var(--white);
}