
.container-profile-master{
    width: 100%;
    height: 100vh;
    background: var(--main-background);

}
.container-profile-master .container-profile{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.container-profile-master .tutor-profile {
    display: flex;

}
.container-profile-master .tutor-profile > div{
    margin:0 1.5em;
}

.container-profile-master .tutor-profile .info-tutor{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container-profile-master .tutor-profile .info-tutor .avatar{
    margin-bottom: 2.5em;
}

.container-profile-master .tutor-profile .info-tutor .avatar h2{
    color: var(--primary-text);
    font-weight: bold;
    font-size: 24px;
}
.container-profile-master .tutor-profile .info-tutor .avatar p{
    font-size: 20px;
    color: var(--primary-text);
    opacity: .76;
}
.container-profile-master .tutor-profile .info-tutor .details > div{
    margin: 1em 0;
}

.container-profile-master .tutor-profile .info-tutor .details 
.card-disponibilidad{
    display: flex;
    flex-direction: column;
    padding: 12px 18px;
    background: var(--white-noise);
    width: 360px;
    border-radius: 6px;
    margin: 1em 0;
}

.container-profile-master .tutor-profile .info-tutor .details 
.card-disponibilidad .dia{
    font-size: 22px;
    color: var(--primary-text);
    font-weight: 600;
}
.container-profile-master .tutor-profile .info-tutor .details 
.card-disponibilidad .horario{
    font-size: 18px;
    color: var(--primary-text);
    opacity: .67;
}


.container-profile-master .tutor-profile .info-tutor .details
.nuevo-horario,
.container-profile-master .tutor-profile .info-tutor .details
.editar-perfil {
    margin-top: 4em;
}
.container-profile-master .tutor-profile .info-tutor .details
.nuevo-horario a{
    padding: 12px 24px;
    color: var(--white);
    background: var(--green);
    border-radius: 6px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    opacity: .87;
    transition: all .2s ease-in-out;
}

.container-profile-master .tutor-profile .info-tutor .details
.editar-perfil a{
    padding: 12px 24px;
    color: var(--white);
    background: var(--primary-color);
    border-radius: 6px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    opacity: .87;
    transition: all .2s ease-in-out;
}

.container-profile-master .tutor-profile .info-tutor .details
.nuevo-horario a:hover,
.container-profile-master .tutor-profile .info-tutor .details
.editar-perfil a:hover{
    opacity: 1;
}



.container-profile .tutor-profile .gadgets-tutor{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90vh;

}



.container-profile .tutor-profile .gadgets-tutor .card-tutorias
{
    padding: 1em 2.25em;
    height: 50vh;
    background: var(--white);
    box-shadow: 0 6px 12px 8px rgba(0,0,0,.01);
    border-radius: 6px;
    margin-bottom: 1em;
    position: relative;

}
.container-profile .tutor-profile .gadgets-tutor .card-tutorias > h2,
.container-profile .tutor-profile .gadgets-tutor .card-cursos> h2{
    color: var(--primary-text);
    font-weight: bold;
    margin-bottom: 1em;
}

.container-profile .tutor-profile .gadgets-tutor .card-tutorias .content{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-profile .tutor-profile .gadgets-tutor .content p{
    font-size: 20px;
    color: var(--primary-text);
}

.container-profile .tutor-profile .gadgets-tutor .card-tutorias .nueva-tutoria,
.container-profile .tutor-profile .gadgets-tutor .card-cursos .nuevo-curso{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
}

.container-profile .tutor-profile .gadgets-tutor .card-tutorias .nueva-tutoria a{
    padding: 12px 24px;
    color: var(--white);
    background: linear-gradient(45deg,var(--gradient-left), var(--gradient-right));
    border-radius: 6px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    opacity: .87;
    transition: all .2s ease-in-out;
    
}
.container-profile .tutor-profile .gadgets-tutor .list-tutorias,
.container-profile .tutor-profile .gadgets-tutor .list-cursos{
    overflow: auto;
    height: 60%;

}
.container-profile .tutor-profile .gadgets-tutor .list-tutorias .card-tutoria,
.container-profile .tutor-profile .gadgets-tutor .list-cursos .card-curso{
    background: var(--main-background);
    padding: 12px 22px;
    margin-bottom: 1em;

}

.container-profile .tutor-profile .gadgets-tutor .card-cursos{
    height: 40vh; 
    padding:1em 2.25em;
    background: var(--white);
    box-shadow: 0 6px 12px 8px rgba(0,0,0,.01);
    border-radius: 6px;
    
    position: relative;

}

.container-profile .tutor-profile .gadgets-tutor .card-cursos .nuevo-curso a{
    padding: 12px 24px;
    color: var(--white);
    background: var(--green);
    border-radius: 6px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    opacity: .87;
    transition: all .2s ease-in-out;
}

.container-profile .tutor-profile .opiniones{
    padding: 1em 2.25em;
    height: 85vh;
    background: var(--white);
    box-shadow: 0 6px 12px 8px rgba(0,0,0,.01);
    border-radius: 6px;
    margin-bottom: 1em;
    position: relative;    
    width: 30%;
}
.container-profile .tutor-profile .opiniones > h2{
    color: var(--yellow);
    margin-bottom: 1.5em;
}
.container-profile .tutor-profile .opiniones .content p{
    font-size: 22px;
    color: var(--primary-text);
}

.container-profile .tutor-profile .opiniones .list-comentarios{
    display: flex;
    flex-direction: column;
    
}

.container-profile .tutor-profile .opiniones .list-comentarios .card-comentario{
    margin:1em 0;
}
.container-profile .tutor-profile .opiniones .list-comentarios .card-comentario h2{
    font-size: 20px;
    color: var(--primary-text);
    margin-bottom: .5em;
}

.container-profile .tutor-profile .opiniones .list-comentarios .card-comentario p{
    font-size: 18px;
    color: var(--primary-text);
    opacity: .87;

}